<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <nz-form [formGroup]="loginForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label> <!-- Changed label from Username to Email -->
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="email" placeholder="Enter your email" /> <!-- Changed formControlName from username to email -->
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="password" type="password" placeholder="Enter your password" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="loginForm.invalid">Login</button>
        </nz-form-control>
      </nz-form-item>
    </nz-form>
  </form>
</div>
